*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

body{
    /* background: url(./photos/post-it-notes-sticky-notes-note-notice-board.jpg); */
    background-image: linear-gradient(white,aqua, rgb(14, 40, 187));
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;   
}
.parent{
    
    display:flex;
    padding: 3rem;
    width: 60%;
    height: 20%;
    margin: auto;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid rgb(14, 40, 187) .7rem;
}
.mynotes{
    background-color: rgb(14, 40, 187);
    color: aqua;
    width: 100%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5rem;
    border-radius: 1rem;
}
#content{
    margin: 1.5rem;
    width: 99%;
    padding: .3rem;
    font-size: 1.7rem;
    font-family: cursive;
    border-radius: 1rem;

}
#add{
    width: 25rem;
    color: aqua;
    font-size: 2rem;
    padding: .5rem;
    background-color: rgb(14, 40, 187);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 1rem;

}
.yourNotes
{
    padding: .5rem;
    padding-left: 1rem;
    width: 30%;
    display: inline-block;
    /* height: 50px; */
    background-color:rgb(14, 40, 187) ;
    margin: 1.5rem;
    color: aqua; 
    font-size: 3rem;
    font-family: cursive;
    clip-path: polygon(0% 0%,100% 0%,90% 50%,100% 100%,0% 100% );
 
}

#child {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1.5rem;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.resultbody {
    border: solid rgb(14, 40, 187) .3rem;
    background-color: aqua;
    display: block;
    flex-direction: column;
    min-width: 400px;
    padding: .5rem;
    margin-top: auto;
    margin-bottom: .6rem;
    border-radius: .7rem;

}

h1 {
    margin: .5rem;
    text-align: center;
}

.heading {
    display: flex;
    margin: auto;
    width: 95%;
    border: .2rem solid rgb(14, 40, 187);
    
    /* box-shadow:  */
    /* inset 5px 5px 5px rgba(255,255, 255,.2), inset 5px 5px 5px rgba(0,0,0,.1); */
                    
    border-radius: .7rem;
    padding: .5rem;
    background-color: white;
}

.result {
    display: flex;
    width: 92%;
    height: 15rem;
    border: none;
    margin: auto;
    overflow: auto;
    padding: .5rem;
    background-color: white;
    cursor: pointer;
    color: black;
    border-radius: .7rem;
}


.buton{
    margin-top: .5rem;
    display: flex;
    width: 100%;
    float: right;
    justify-content:space-around;
}

.delet,
.imp {

    padding: .3rem;
    width: 7.5rem;
    font-family: cursive;
    background-color:rgb(14, 40, 187) ;
    color: aqua; 
    border-radius: .5rem;

}

@media(max-width:998px) {
    html{
        font-size: 55%;
    }
}
@media(max-width:768px) {
    html{
        font-size: 45%;
    }
}
@media(max-width:540px) {
    html{
        font-size: 35%;
    }
}
@media(max-width:310px) {
    html{
        font-size: 25%;
    }
}
